

.team-cont{
    height:auto; 
    background-color:#E2EAF4;
    background-size:cover;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content:center;
    padding:30px;
}

/* src/ImageWithText.css */
.image-container {
    position:relative;
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    margin:20px;
    
    justify-content: space-evenly;
   
  }
  
  .image {
    height :250px;
    width:300px;
    border-radius:10px;
  }

  .team-para{
    font-size:23px;
  }
  
  .overlay-text {
    position:relative;
    bottom:0%;
    width:350px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change text color as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    font-size:20px; /* Adjust font size as needed */
  }
  
  .team-cards{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
  
  }
  
  
  @media screen and (max-width:768px){
       .team-cont{
        height:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
       }
       .team-para{
          font-size:15px;
       }
       .image-container {
        position: relative;
    
        width: 100%;
        max-width: 300px; /* Adjust the max-width as needed */
        margin:20px;
      }
      .image {
        height:200px;
        max-width:200px;
        border-radius:10px;
      }
      .overlay-text{
        max-width:200px;
      }
      
    
  }