.head-img{
  align-self:flex-start;
}
.nav-menu-item {
    font-family: 'Roboto';
    margin-left: 30px;
    font-weight: 400;
    font-size: 20px !important;
    color:white;
  }
.nav-menu-item:hover{
    color: aqua !important;
  }
 
.navbar-toggler{
  color:white;
  background-color: #ffffff !important;
}  
.navbar-toggler-icon{
    background-color: #ffffff;
   
}
.custom-toggler {
  border-color: #ffffff; 
  
  /* Change the border color */
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white !important;
    
  }


.custom-navbar {
    background-color:black !important; /* Custom background color */
    
}









 
